VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_project_id

VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_USERS_COLLECTION_ID=your_users_collection_id
VITE_HALLS_COLLECTION_ID=your_halls_collection_id
VITE_BOOKINGS_COLLECTION_ID=your_bookings_collection_id
VITE_NOTIFICATIONS_COLLECTION_ID=your_notifications_collection_id

VITE_STORAGE_BUCKET_ID=your_storage_bucket_id
VITE_APPWRITE_NOTIFICATION_FUNCTION_ID=your_function_id