VITE_APPWRITE_ENDPOINT=https://sfo.cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=6a6a2974003d2171d43a

VITE_APPWRITE_DATABASE_ID=6a6a2a7d0000bad8f949
VITE_USERS_COLLECTION_ID=users
VITE_HALLS_COLLECTION_ID=halls
VITE_BOOKINGS_COLLECTION_ID=bookings
VITE_NOTIFICATIONS_COLLECTION_ID=your_notifications_collection_id

VITE_STORAGE_BUCKET_ID=6a6a30890018459d8198
VITE_APPWRITE_NOTIFICATION_FUNCTION_ID=